.features-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.features-links {
  width: calc((100% - 72px) / 4);
}
.icons-back{
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
border-radius: 4px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
 margin-bottom: 8px;
 height: 112px;
}

